
@{
    ViewData["Title"] = "_BookList";
}
<hr />

<h1>From Books List</h1>
<ul>
    <li> Wasted in Engineering</li>
    <li>It happens for a reason</li>
    <li>The Leader In You</li>
    <li> The One Minute Manager</li>
</ul>
    